/*html {*/
/*position: relative;*/
/*min-height: 100%;*/
/*}*/
body {
    /* Margin bottom by footer height */
    /*margin-bottom: 81px;*/

    /*padding: ;*/
}

/*.footer {*/
/*position: absolute;*/
/*bottom: 0;*/
/*width: 100%;*/
/*!* Set the fixed height of the footer here *!*/
/*height: 81px;*/
/*background-color: #f5f5f5;*/
/*}*/

.form-group.required .control-label:after {
    content: " *";
    color: red;
}

.activity-day {
    margin-bottom: 20px;
}

.activity-day-title {
    font-size: 16pt;
    border-bottom: solid thin black;
}

#map-canvas {
    width: 100%;
    height: 350px;
}

#map-canvas * {
    tab-index: -1;
}

.pac-container {
    z-index: 100000;
}

[v-cloak] {
    display: none;
}

td {
    vertical-align: middle !important;
}

table.with-actions tr td:last-child {
    width: 1px;
    white-space: nowrap;
}

.lesson-time {
    min-width: 120px;;
}

table.timetable .event-actions {
    visibility: hidden;
}

table.timetable .card:hover .event-actions {
    visibility: visible;
}

table.timetable .card:hover h4 {
    color: black;
}

table.timetable .event-actions .btn {
    padding: 5px;
    margin: 0;
}

/*table.timetable-1 th:not(:first-child) {*/
/*width: 100%;*/
/*}*/

table.timetable-2 th:not(:first-child) {
    width: 50%;
}

table.timetable-3 th:not(:first-child) {
    width: 33.33%;
}

table.timetable-4 th:not(:first-child) {
    width: 25%;
}

table.timetable-5 th:not(:first-child) {
    width: 20%;
}

.new-item {
    border-style: dashed;
    border-color: grey;
    border-width: 2px;
    padding: 5px
}

.new-item-label {
    padding-left: 20px;
    font-style: italic;
}

.timetable-cell i {
    font-size: 1.5em;
}

.timetable-cell .fa-times {
    color: red;
}

.timetable-cell a {
    cursor: pointer;
}

.datepicker {
    z-index: 99999 !important;
}

.clockpicker input {
    text-shadow: 0 0 0 #000;
    color: transparent;
}

.tp-stats {
    line-height: 30px;
    display: block !important;
}

.tp-stats .material-icons {
    position: relative;
    top: 6px;
}

.btn.btn-vk {
    background-color: #507299;
    color: #fff;
    box-shadow: 0 2px 2px 0 rgba(59, 89, 152, .14), 0 3px 1px -2px rgba(59, 89, 152, .2), 0 1px 5px 0 rgba(59, 89, 152, .12)
}

.btn.btn-vk:hover, .navbar .navbar-nav > li > a.btn.btn-vk:hover {
    background-color: #507299;
    color: #fff;
    box-shadow: 0 14px 26px -12px rgba(59, 89, 152, .42), 0 4px 23px 0 rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(59, 89, 152, .2)
}

/*.modal-footer {*/
/*padding-bottom: 0 !important;*/
/*}*/

.input-hint {
    font-size: 0.8em;
}

.wrapper {
    padding-top: 100px;
}

.table .card-plain:hover {
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, .56), 0 4px 25px 0 rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2);
}

.timetable .card {
    margin-top: 0;
    margin-bottom: 0;
}

.timetable .card h4 {
    /*color: green;*/
    color: #636363;
}

.timetable col:first-child {
    min-width: 150px;
}

.bg-primary {
    background-color: #9c27b0;
}

.md-card {
    border-radius: 6px;
}

.md-card :not(:first-child).card-content {
    border-radius: 0 0 6px 6px;
}

.md-card .card-avatar img {
    border-radius: 6px 6px 0 0;
    /*border-top-left-radius: 6px;*/
    /*border-top-right-radius: 6px;*/
}

/*.md-card .card-content {*/
/*text-align: center;*/
/*}*/

.card-actions {
    position: absolute;
    padding-top: 12px;
    width: 100%;
    padding-right: 12px;
    display: none;
}

.card-actions a {
    color: white;
    float: right;
    cursor: pointer;
    margin-left: 15px;
}

.md-card:hover .card-actions {
    display: block;
}

.card-actions .material-icons {
    font-size: 24pt;
}

table.rows-hovered tbody tr:hover {
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, .56), 0 4px 25px 0 rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2);

    font-weight: bold;
}

table.rows-hovered tbody tr {
    height: 55px
}

.tp-block-header {
    background-color: #9c27b0;
    color: white;
    text-align: center;
    height: 56px;
    position: relative;
}

.tp-block .tp-block-header {
    margin-bottom: 15px;
}

.tp-block tr .tp-block-header {
    margin-bottom: 0px;
}

.tp-block-header h3 {
    padding-top: 10px;
}

.tp-block-header button {
    position: absolute !important;
    right: 20px;
    top: 28px;
    float: right;
    display: none;
    z-index: 1;
}

tr .tp-block-header button {
    top: 8px;
}

tr .tp-block-header {
    height: 25px;
}

.tp-block:hover .tp-block-header button {
    display: block;
}

.rows-hovered .td-actions button {
    display: none;
}

.rows-hovered tr:hover .td-actions button {
    display: inline-block;
}

col.td-actions {
    min-width: 75px;
}

col.td-actions-3 {
    min-width: 105px;
}

.teacher-table .teacher-avatar {
    height: 100px;
    vertical-align: middle;
}

.teacher-table tbody tr {
    height: 124px;
}

.main {
    margin-bottom: 20px !important;
}

.main-raised {
    margin-left: 0;
    margin-right: 0;
}

.main > *:last-child {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.main > *:first-child {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.profile-cabinet-page h2 {
    margin-top: 0;
    line-height: 1em;
    margin-bottom: 20px;
}

.profile-cabinet-page h2 a {
    font-size: 0.5em;
}

.profile-item {
    font-size: 20px;
}

.profile-item span:first-child {
    color: #828282;
    display: inline-block;
    width: 200px;
}

a {
    cursor: pointer;
}

.wide-buttons .btn {
    width: 100%;
}

.tp-select-block {
    margin-top: 0;
    margin-bottom: 9px;
}

.tp-select-block .bootstrap-select {
    margin-top: 0;
}

.tp-select-block .bootstrap-select button {
    margin-bottom: 0;
    height: 32px;
}

.clockpicker {
    width: 100%;
}

.help-block {
    display: block !important;
}

.bootstrap-select button {
    text-transform: none;
}

.page-filter-panel {
    margin-bottom: 30px;
}

.room-list tbody tr {
    height: 64px;
}

.image-cropper-blank {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.row-content {
    padding: 30px;
}

.timetable-row td:first-child {
    text-align: center;
    width: 100px;
}

.alert {
    margin-bottom: 0 !important;
}

.table-striped > tbody > tr:nth-of-type(2n) {
    z-index: 1;
}

a:hover {
    text-decoration: underline;
}

.referral-link {
    border-style: inset;
    height: 50px;
    padding: 11px;
    margin: 5px;
    background-color: aliceblue;
    width: 100%;
    color: transparent;
    text-shadow: 0 0 0 #000;
}

.referral-link-block {
    padding-right: 26px;
}

.card > img {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.grid-item-content .card {
    padding-bottom: 0;
}

@media (max-width: 768px) {
    .user-avatar {
        min-height: 300px !important;
    }
}

@media (min-width: 769px) {
    .user-avatar {
        min-height: 255px !important;
    }
}

.block {
    display: block
}

.gm-style-iw {
    text-align: center;
}

#schoolCityPopover .popover-content {
    padding: 0;
}

.user-contact-footer {
    min-height: 64px;
}

.checkbox i.material-icons {
    vertical-align: middle;
    padding-bottom: 4px;
}

.language-selected {
    pointer-events: none;
    color: gray !important;
}

.image-container {

}

#profileAvatar.image-container .img-raised {
    width: 252px;
    height: 252px;
}

#teacherAvatar.image-container .img-raised {
    width: 252px;
    height: 252px;
}

#schoolPhoto.image-container .img-raised {
    width: 570px;
    height: 184px;
}

#eventPhoto.image-container .img-raised {
    width: 420px;
    height: 236px;
}

#milongaPhoto.image-container .img-raised {
    width: 420px;
    height: 236px;
}

.image-container img {
    width: 100%;
    height: 100%;
}

.tp-image-select .bootstrap-select img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.tp-image-select .btn-group button img {
    display: none;
}

.milonga-list .datetime-td span {
    display: block;
}

.card .row {
    width: 100%
}

.playbill-activity-photo {
    min-height: 191px;
}

.card .content-rose a {
    color: white;
}

.card .footer .row, .card .footer .row div {
    display: block;
}

#festivalTopButtonPanel {
    padding-top: 25px;
}

.started-event-list-item {
    color: #999;
}

.login-form .input-group-addon {
    padding-left: 0;
}