<#import "/spring.ftl" as spring/>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <label for="events" class="control-label">Facebook<#-- <@spring.message "common.event"/> --></label>
        </div>
        <div class="col-md-6">
            <div id="festivalTopButtonPanel">

            </div>
        </div>
    </div>
</div>